Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt*color4: #aaaaff
URxvt*color12: #aaaaff
URxvt*font: 9x15
URxvt*background: black
URxvt*foreground: white
URxvt*scrollBar: false

Emacs*font: 9x15